body{
  font-family: "Montserrat";
  text-align: center;
}

.sample {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  border: 5px solid #fffcf2;

}

button {
  margin: 10px;
}

.logo {
  width: 50px;
}


.space {
  margin: 30px;
}

/* Containers */

.container-fluid{
  padding: 7% 10%;
  width: 100%;
  max-width: 1500px;
}

/* Sections */

.coloured-section {
  background-color: #eb5e28;
  color: #fffcf2;

}

.white-section {
background-color: #fffcf2;
color: #252422;

}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat';
font-weight: bold;
}


.text {
  text-align: center;
  margin: auto;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}


/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}


#features{
  position: relative;
  z-index: 1
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box{
  padding: 5%;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .footer {
    margin: 50px;
  }
